/*sign up css also some parts reused by other pages**/
.container {
    display: flex;
    flex-wrap: wrap;
  }

  .log_in{order: 1;}

@media screen and (max-width: 600px) {
    .header__logo {
        height: 48px;
        margin-right: 0.5em;
      }
    .header__title {
        margin-left: 0;
        font-size: 2em;
        vertical-align: bottom; 
    }
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 5px;
    }
    
    .forgot_password{order: 1;}
  }

@media screen and (min-width: 850px) {
    main, .header__inner, .content {
      width: 850px;
      margin-left: auto;
      margin-right: auto;
    }
    .forgot_password{order: 1;}
}

/*Log in css**/
@media screen and (min-width: 350px) {
 #log_in_container{
    width: 350px;
    height: 675px;
    margin-left: auto;
    margin-right: auto;
    padding: 5% 0px 0px 0px;
 }

 #log_in_container .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 5px;
}

}

@media screen and (min-width: 601px) and (max-width: 849px){
    .forgot_password{order: 1;}
}